/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation bar start */
nav{
    width: 1140px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.right-content a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.8;
    padding: 10px 24px;
}
/* navigation bar end */

/* banner section start */
.banner-section{
    width: 100%;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    
}
.human-logo{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 32px;
    
}
.human-logo img{
    height: 100%;
    width: 100%;
}
.banner-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
.banner-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 43px;

}
.btn{
    text-align: center;
}
.btn button{
    border: none;
    padding: 15px 35px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    text-align: center;
  

}
/* banner section end */
/* development section start */
.development-section{
    width: 1140px;
    height: 1150px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 70px;
    padding-top: 30px;
}
.development-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.development-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 40px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.flex-item{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.content-01 h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}
.content-01 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 20px;
}
.content-01 button{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 30px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.content-02 img{
    width: 259.56px;
    height: 217.01px;

}
.second-bg{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* development section end */

/* inspiration section start */
.inspiration-section{
    width: 1140px;
    height: 875px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.inspiration-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.inspiration-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}
.frame{
    width: 100%;
    padding: 70px 0;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
iframe{
    display: block;
    margin: 0 auto;
    border-radius: 16px;
}

/* inspiration section end */
/* current target section start */
.current-target-section{
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.current-target-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.current-target-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-one{
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05); 
    width: 300px; 
    height: 250px;
}
.pic{
    margin-bottom: 12px;
}
.item-one h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
}
.item-one p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;opacity: 0.7;
    margin-bottom: 12px;
    text-align: left;
}
.item-one a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
.two{
    background: rgba(0, 76, 232, 0.05);
}
.three{
    background: rgba(255, 223, 0, 0.05);
}
/* current target section end */
/* next target section start */
.next-target-section{
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.next-target-section h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 18px;
}
.next-target-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 25px;
}

/* next target section end */


